# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=c6466411cb647811e99d6fb1b2ebec8bafa8ff482955a068abfd0f6710930a4911969548be2121d5ea1ee3404d6b7ddbd492f6f0bbbee9e323350864e922107e

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
